AddType application/wasm .wasm

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /app_project/test/hma2
#RewriteBase /
RewriteRule (.*) - [E=Cache-Control:no-cache]
#RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
#RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>